<div id="particles-js" class="text-center overflow-hidden vh-100 bg-dark">
    <div class="position-absolute top-50 start-50 translate-middle">
        <h1 class="display-1 text-white mb-5 fw-bold">Academix</h1>
        <div class="text-center d-flex flex-row justify-content-center gap-5 align-middle">
            <a class="nav-link text-white btn btn-primary fs-5" asp-controller="Account" asp-action="SignUp">SignUp</a>
            <a class="nav-link text-white btn btn-primary fs-5" asp-controller="Account" asp-action="SignIn">SignIn</a>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/js/background/particles.js"></script>
    <script src="~/js/background/app.js"></script>
}
