@{
    ViewData["Title"] = "Contacts";
}

<div class="bg-auth rounded-10 py-3">
    <div class="text-center text-white fs-1 fw-normal px-5">Contacts</div>
    <hr class="bg-white mx-4 my-3" />
    <div class="mx-4 my-2">
        <span class="text-white fs-4">Phone number: +359123456789</span>
    </div>
    <div class="mx-4 my-2">
        <span class="text-white fs-4">Email: academix@mail.com</span>
    </div>
    <div class="mx-4 my-2">
        <span class="text-white fs-4">Address: str.Vladimi Vazov 5</span>
    </div>
</div>
