@model IEnumerable<AllAbsencesViewModel>

@{
    ViewData["Title"] = "Absences";
}

<h1 class="display-1 fw-bold ">Absences</h1>

@if (Model.Count() == 0)
{
    <h2 class="display-4 text-danger">This student doesn't has absences</h2>
}
else
{
    <div class="bg-auth rounded-10 px-3 py-3 d-flex flex-column gap-3 mx-3 my-3">
        @foreach (var absence in Model)
        {
            <div class="d-flex flex-row justify-content-between text-center">
                <div class="fs-4 fw-bold">Absence:</div>
                <span class="fs-4 ms-lg-3">| Excused: @absence.Excused | @absence.DateAndTime</span>
                <a asp-controller="Student" asp-action="RemoveAbsence" asp-route-id="@absence.AbsenceId" 
                asp-route-studentId="@absence.StudentId" class="btn btn-primary ms-lg-3">Remove</a>
            </div>
        }
    </div>
}

<a asp-controller="Student" asp-action="Index" class="w-20 btn btn-lg btn-primary">Cancel</a>
