@inject SignInManager<ApplicationUser> SignInManager

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Academix</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Academix.Web.styles.css" asp-append-version="true" />
</head>
<body id="particles-js" class="bg-dark text-white">
    <div class="position-absolute top-50 start-50 translate-middle h-100 w-100 d-flex flex-column justify-content-between">
        @if (SignInManager.IsSignedIn(User))
        {
            <header class="mx-3 my-3">
                <nav class="rounded-10 navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white box-shadow mb-3">
                    <div class="container-fluid mx-3">
                        <a class="navbar-brand fs-1 fw-bold mx-3" asp-area="" asp-controller="Home" asp-action="Index">Academix</a>
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                                aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                            <ul class="navbar-nav flex-grow-1 mx-5">
                                <li class="nav-item">
                                    <a class="text-whiteblue fs-3 fw-bold text-decoration-none" asp-area="" asp-controller="Home" asp-action="Contact">Contact</a>
                                </li>
                            </ul>
                            <partial name="_LoginPartial" />
                        </div>
                    </div>
                </nav>
            </header>
        }

        <main class="mx-3 my-3 h-100 d-flex justify-content-center align-items-center">
            @RenderBody()
        </main>

        @if (SignInManager.IsSignedIn(User))
        {
            <footer class="bg-white rounded-10 mx-3 my-3 footer-custom">
                <div class="container text-dark">
                    &copy; 2024 - Academix
                </div>
            </footer>
        }
    </div>

    <script src="~/js/background/particles.js"></script>
    <script src="~/js/background/app.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
