@if (User.IsStudent())
{
    <li class="nav-item ms-lg-3">
        <a class="text-whiteblue fs-3 fw-bold text-decoration-none" asp-area="Student" asp-controller="Dashboard" asp-action="Index">Dashboard</a>
    </li>
}

@if (User.IsParent())
{
    <li class="nav-item ms-lg-3">
        <a class="text-whiteblue fs-3 fw-bold text-decoration-none" asp-area="Parent" asp-controller="Students" asp-action="Index">Students</a>
    </li>
}

@if (User.IsTeacher())
{
    <li class="nav-item ms-lg-3">
        <a class="text-whiteblue fs-3 fw-bold text-decoration-none" asp-area="Teacher" asp-controller="Class" asp-action="Index">MyClass</a>
    </li>
    <li class="nav-item ms-lg-3">
        <a class="text-whiteblue fs-3 fw-bold text-decoration-none" asp-area="Teacher" asp-controller="Student" asp-action="Index">Students</a>
    </li>
}

@if (User.IsDirector())
{
    <li class="nav-item ms-lg-3">
        <a class="text-whiteblue fs-3 fw-bold text-decoration-none" asp-controller="Request" asp-action="All">Requests</a>
    </li>
    <li class="nav-item ms-lg-3">
        <a class="text-whiteblue fs-3 fw-bold text-decoration-none" asp-area="Director" asp-controller="Subject"
           asp-route-student="" asp-action="All">Subjects</a>
    </li>
    <li class="nav-item ms-lg-3">
        <a class="text-whiteblue fs-3 fw-bold text-decoration-none" asp-area="Director" asp-controller="Student" asp-action="All">Students</a>
    </li>
}

@if (User.IsAdmin())
{
    <li class="nav-item ms-lg-3">
        <a class="text-whiteblue fs-3 fw-bold text-decoration-none" asp-controller="Request" asp-action="All">Requests</a>
    </li>
}