@model LoginViewModel

@{
    ViewData["Title"] = "Log in";
}

<h1>@ViewData["Title"]</h1>
<a asp-controller="Home" asp-action="Index">
    <i class="fa-solid fa-xmark"></i>
</a>
<section>
    <form method="post">
        <div asp-validation-summary="ModelOnly"></div>
        <div>
            <input asp-for="Email" autocomplete="email" aria-required="true" />
            <label asp-for="Email"></label>
            <span asp-validation-for="Email"></span>
        </div>
        <div>
            <input asp-for="Password" autocomplete="current-password" aria-required="true" />
            <label asp-for="Password"></label>
            <span asp-validation-for="Password"></span>
        </div>
        <div>
            <div>
                <label asp-for="RememberMe">
                    <input asp-for="RememberMe" />
                    @Html.DisplayNameFor(m => m.RememberMe)
                </label>
            </div>
        </div>
        <div>
            <button type="submit">Log in</button>
        </div>
    </form>
</section>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

