@model RegisterViewModel

@{
    ViewData["Title"] = "Register";
}

<div id="particles-js" class="register-wrapper">
    <div class="register-main-wrapper">
        <div class="register-form-wrapper">
            <form method="post">
                <div class="register-steps">
                    <ul>
                        <li class="register-step-menu1 active">
                            <span>1</span>
                            Sign Up
                        </li>
                        <li class="register-step-menu2">
                            <span>2</span>
                            Personal info
                        </li>
                    </ul>
                </div>

                <div class="register-form-step-1 active">
                    <div asp-validation-summary="ModelOnly"></div>
                    <div>
                        <label asp-for="FirstName" class="register-form-label">First name</label>
                        <input asp-for="FirstName" class="register-form-input" autocomplete="given-name" aria-required="true" />
                        <span asp-validation-for="FirstName"></span>
                    </div>
                    <div>
                        <label asp-for="LastName" class="register-form-label">Last name</label>
                        <input asp-for="LastName" class="register-form-input" autocomplete="family-name" aria-required="true" />
                        <span asp-validation-for="LastName"></span>
                    </div>
                    <div>
                        <label asp-for="Email" class="register-form-label">Email</label>
                        <input asp-for="Email" class="register-form-input" autocomplete="email" aria-required="true" />
                        <span asp-validation-for="Email"></span>
                    </div>
                    <div>
                        <label asp-for="Password" class="register-form-label">Password</label>
                        <input asp-for="Password" class="register-form-input" autocomplete="new-password" aria-required="true" />
                        <span asp-validation-for="Password"></span>
                    </div>
                    <div>
                        <label asp-for="ConfirmPassword" class="register-form-label">Confirm Password</label>
                        <input asp-for="ConfirmPassword" class="register-form-input" autocomplete="new-password" aria-required="true" />
                        <span asp-validation-for="ConfirmPassword"></span>
                    </div>
                </div>

                <div class="register-form-step-2">
                    <div>
                        <label for="message" class="register-form-label"> Message </label>
                        <textarea rows="6" name="message" id="message" placeholder="Type your message"
                                  class="register-form-input"></textarea>
                    </div>
                </div>

                <div class="register-form-btn-wrapper">
                    <button class="register-btn back">Back</button>
                    <button class="register-btn cancel">Cancel</button>
                    <button class="register-btn next">Next</button>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/js/register/particles.js"></script>
    <script src="~/js/register/app.js"></script>
    <script src="~/js/register/func.js"></script>
    <partial name="_ValidationScriptsPartial" />
}
