@model SignUpViewModel

@{
    ViewData["Title"] = "SignUp";
}

<div id="particles-js" class="overflow-hidden vh-100 bg-dark">
    <div class="position-absolute top-50 start-50 translate-middle">
        <h1 class="display-1 text-white mb-5"><b>Academix</b></h1>
        <div class="container bg-auth rounded-10">
            <div class="text-center text-white">Sing Up</div>
            <hr class="bg-white"/>
            <form method="post" id="registerForm">
                <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                <div>
                    <label asp-for="FirstName" class="d-block">First Name</label>
                    <input asp-for="FirstName" class="d-block" autocomplete="username" aria-required="true" placeholder="" />
                    <span asp-validation-for="FirstName" class="text-danger"></span>
                </div>
                <div>
                    <label asp-for="LastName" class="d-block">Last Name</label>
                    <input asp-for="LastName" class="d-block" autocomplete="username" aria-required="true" placeholder="" />
                    <span asp-validation-for="LastName" class="text-danger"></span>
                </div>
                <div>
                    <label asp-for="Email" class="d-block">Email</label>
                    <input asp-for="Email" class="d-block" autocomplete="email" aria-required="true" placeholder="" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div>
                    <label asp-for="Password" class="d-block">Password</label>
                    <input asp-for="Password" class="d-block" autocomplete="password" aria-required="true" placeholder="" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div>
                    <label asp-for="ConfirmPassword" class="d-block">Confirm Password</label>
                    <input asp-for="ConfirmPassword" class="d-block" autocomplete="password" aria-required="true" placeholder="" />
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>
                <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary">Register</button>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/js/background/particles.js"></script>
    <script src="~/js/background/app.js"></script>
    <script src="~/js/authentication/personalinfo.js"></script>
    <partial name="_ValidationScriptsPartial" />
    <script>
        $(document).ready(function () {
            getClassesBySchoolId();
        })
        $("#schoolId").change(function () {
            getClassesBySchoolId();
        });
        var getClassesBySchoolId = function () {
            $.ajax({
                url: '@Url.Action("GetClassesBySchoolId", "Account")',
                type: 'GET',
                data: {
                    schoolId: $('#schoolId').val(),
                },
                success: function (data) {
                    $('#classId').find('option').remove().end()
                        .append('<option value="" selected disabled hidden>Classes</option>')
                    $(data).each(
                        function (index, item) {
                            $('#classId').append('<option value="' + item.id + '">' + item.name + '</option>')
                        }
                    );
                }
            })
        }
    </script>
    <script>
        $(document).ready(function () {
            getStudentsByClassId();
        })
        $("#classId").change(function () {
            getStudentsByClassId();
        });
        var getStudentsByClassId = function () {
            $.ajax({
                url: '@Url.Action("GetStudentsByClassId", "Account")',
                type: 'GET',
                data: {
                    classId: $('#classId').val(),
                },
                success: function (data) {
                    $('#studentId').find('option').remove().end()
                        .append('<option value="" selected disabled hidden>Students</option>')
                    $(data).each(
                        function (index, item) {
                            $('#studentId').append('<option value="' + item.id + '">' + item.name + '</option>')
                        }
                    );
                }
            })
        }
    </script>
}
