@model IEnumerable<SubjectViewModel>

@{
    ViewData["Title"] = "Home";
}

<div class="bg-auth rounded-10">
    <div class="text-center text-white fs-3 fw-normal pt-3">Subjects</div>
    <hr class="bg-white mx-4 my-3" />
</div>

